---
export interface Props {
  href: string;
  text: string;
}

const { text, href } = Astro.props;
---

<li
  class="
    w-64 m-4 bg-zinc-300 rounded-md
    shadow-md
    hover:bg-blue-700 hover:text-white hover:transition-shadow
  "
>
  <a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    class="p-4 block"
  >
    {text}
  </a>
</li>
