---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro';

// According to the github, Kauê's first interaction is on november 2021
const yearsSinceBegin = new Date().getFullYear() - new Date(2021, 11, 1).getFullYear();
---

<Layout title="Kauê Fraga Rodrigues">
  <Header />
  <main class="flex flex-col my-8 items-center">
    <section class="flex flex-col items-center space-y-4">
      <h1 class="text-xl md:text-4xl font-semibold">
        Backend Typescript Developer
      </h1>
      <!-- <span class="text-xs">(almost fool stack 😅)</span> -->
      <p class="text-base w-64 flex-wrap md:text-lg md:w-auto md:flex-nowrap">
        I design and code production-quality APIs, and i love what i do.
      </p>
      <div class="w-44 h-44">
        <img
          class="rounded-full"
          width="184"
          height="184"
          src="/icon.png"
          alt="Kauê's Profile Image"
        />
      </div>
    </section>


    <section
      id="about"
      class="flex flex-col justify-center items-center w-full min-h-[22rem]
      mt-4 p-6 bg-blue-600 md:flex-row md:space-x-8"
    >
      <img
        class="w-64 h-64 my-4 rounded-md"
        width="250"
        height="200"
        src="/aboutme.png"
        alt="Person using macbook pro on table"
      />

      <div class="flex flex-col items-center">
        <h3 class="my-2 text-lg font-semibold text-white">
          Hi, i'm Kauê. Nice to meet you!
        </h3>
        <p class="
          text-gray-200 text-base text-justify
          w-72 flex-wrap my-2
          md:w-[25rem] md:text-lg md:flex-nowrap
        ">
          Since beginning my journey as a backend developer over
          {yearsSinceBegin} years ago i have been through some difficulties,
          like: which area should i choose? What i need to learn? How will i learn?
          I'm quietly confident, naturally curious, and perpetually working on
          improving my skills at a time.
        </p>
      </div>
    </section>

    <section
      id="experiencies"
      class="
        flex flex-col m-2 max-w-screen-2xl justify-center flex-wrap
        md:flex-row
      "
    >
      <Card
        icon="⚡"
        title="Lightning Fast HMR"
        description="Hot Module Replacement (HMR) that stays fast regardless of app size."
      />
      <Card
        icon="💡"
        title="Application Programming Interface (API)"
        description="I have experience creating useful and fully-featured APIs!"
      />
      <Card
        icon="🎨"
        title="Command Line Interfaces"
        description="I (strangely) adore develop fancy CLIs a lot."
      />
      <Card
        icon="🌸"
        title="Beautiful Code"
        description="I write a simple and readable code, following the best practices."
      />
      <Card
        icon="📦"
        title=""
        description=""
      />
      <Card
        icon="📚"
        title="Sometimes Teacher, Always a Learner"
        description="I think it's good to share knowledge and i'm everytime trying to learn something new."
      />
      <Card
        icon="🔥"
        title="Actually the best developer"
        description="I could easily delete all your database accidentally, hire me!"
      />
      <Card
        icon="🎮"
        title="Things i like to do"
        description="I enjoy playing video games and voleyball... Osu! (131h), Rocket League (575h), Warframe (582h)."
      />
    </section>

    <span id="divider" class="m-6 w-3/12 h-0.5 bg-zinc-400"></span>

    <!-- A card-based projects section -->
    <p class="h-1 mt-4">Projects section coming soon...</p>
	</main>
  <Footer />
</Layout>
