---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro';

const yearsSinceIBegin = new Date().getFullYear() - new Date(2021, 11, 1).getFullYear();
---

<Layout title="Kauê Fraga Rodrigues">
  <Header />
  <main class="flex flex-col my-8 items-center">
    <section class="flex flex-col items-center space-y-4">
      <h3 class="text-xl md:text-4xl font-semibold">Backend Typescript Developer</h3>
      <!-- <p class="text-xs">almost fool stack rsrsrs</p> -->
      <p class="text-base w-64 flex-wrap md:text-lg md:w-auto md:flex-nowrap">
        I design and code production-quality APIs, and i love what i do.
      </p>
      <div class="w-44 h-44">
        <img
          class="rounded-full"
          width="184"
          height="184"
          src="/icon.png"
          alt="Kauê's Profile Image"
        />
      </div>
    </section>

    <span id="divider" class="m-6 w-3/12 border-2 border-t-zinc-300"></span>

    <section
      id="experiencies"
      class="flex flex-col m-2 md:flex-row"
    >
      <Card
        icon="⚡"
        title="Lightning Fast HMR"
        description="Hot Module Replacement (HMR) that stays fast regardless of app size."
      />
      <Card
        icon="💡"
        title="Instant Server Start"
        description="On demand file serving over native ESM, no bundling required!"
      />
      <Card
        icon="🌸"
        title="Beautiful Code"
        description="I write a simple and readable code."
      />
      <Card
        icon="🔥"
        title="Actually the best developer"
        description="I could easily delete all your database accidentally, hire me!"
      />
    </section>

    <section
      id="about"
      class="flex flex-col justify-center items-center mt-4 w-full min-h-[15rem] bg-blue-600"
    >
      <h3 class="my-2 text-lg font-semibold text-white">
        Hi, im Kauê. Nice to meet you.
      </h3>
      <p class="
        text-gray-200
        w-72 text-base flex-wrap text-justify my-2
        md:w-[25rem] md:text-lg md:flex-nowrap
      ">
        Since beginning my journey as a backend developer over {yearsSinceIBegin} years ago.
        Im quietly confident, naturally curious, and perpetually working on
        improving my skills at a time.
      </p>
    </section>

    <!-- A card-based projects section -->
    <p class="h-1 mt-4">Projects section coming soon...</p>
	</main>
  <Footer />
</Layout>
