---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
---

<!-- Choose black or slate-900 and write it in Layout -->

<Layout title="Kauê Fraga Rodrigues">
	<header class="flex justify-center text-slate-900 text-lg p-6 shadow-md md:justify-between md:text-xl">
    <span>
      <strong class="hidden md:inline md:text-2xl">
        Kauê.dev
      </strong>
    </span>
    <nav>
      <Link href="#about" text="About" />
      <Link href="mailto:kauefragarodrigues456@gmail.com" text="Contact" />
      <Link href="https://" text="Projects" />
    </nav>
  </header>
  <main class="flex flex-col my-8 items-center">
    <section class="flex flex-col items-center space-y-4">
      <h3 class="text-xl md:text-4xl font-semibold">Backend Typescript Developer</h3>
      <!-- <p class="text-xs">almost fool stack rsrsrs</p> -->
      <p class="text-base w-64 flex-wrap md:text-lg md:w-auto md:flex-nowrap">
        I design and code production-quality APIs, and i love what i do.
      </p>
      <div>
        <img src="" alt="Kauê's Profile Image" />
      </div>
    </section>

    <section class="flex flex-col justify-center items-center mt-4 w-full min-h-[15rem] bg-blue-700">
      <h3 class="my-2 text-lg font-semibold text-white">
        Hi, im Kauê. Nice to meet you.
      </h3>
      <p class="
      text-gray-200
        w-72 text-base flex-wrap text-justify my-2
        md:w-[25rem] md:text-lg md:text-center md:flex-nowrap
      ">
        Since beginning my journey as a backend developer over 1 year ago.
        Im quietly confident, naturally curious, and perpetually working on
        improving my skills at a time.
      </p>
    </section>
	</main>
</Layout>
