---
export interface Props {
  icon: string;
  title: string;
  description: string;
}

const { icon, title, description } = Astro.props;
---

<article
  class="
    flex flex-col m-4 p-6 rounded-lg bg-zinc-200 space-y-3
    md:w-80
  "
>
  <p class="bg-zinc-400 rounded-sm p-2 w-fit text-2xl">{icon}</p>
  <h3 class="text-zinc-900 font-semibold">{title}</h3>
  <p class="text-zinc-700">{description}</p>
</article>
