---
import { Icon } from 'astro-icon';
---

<footer class="flex flex-col items-center bottom-0 left-0 w-full bg-blue-700 text-white">
  <header class="my-4">
    <h2 class="mb-4 font-medium text-lg">
      Kauê Fraga Rodrigues
    </h2>
  </header>
  <main class="my-4">
    <p class="text-white">Handcrafted by me © {new Date().getFullYear()}</p>
  </main>
</footer>
