---
// import { Icon } from 'astro-icon';
---

<footer class="flex flex-col items-center bottom-0 left-0 w-full bg-blue-600 text-white">
  <header class="my-4">
    <h2 class="mb-4 font-medium text-lg">
      Kauê Fraga Rodrigues
    </h2>
    <!-- <nav class="mt-4">
      <KaueSocialIcon url="https://twitter.com/__kauefraga" />
      <KaueSocialIcon url="https://www.linkedin.com/in/kauefraga" />
      <KaueSocialIcon url="https://github.com/kauefraga" />
      <KaueSocialIcon url="mailto:kauefragarodrigues456@gmail.com" />

      <a
        href="https://github.com/kauefraga"
      >
        <Icon name="grommet-icons:github" class="border-2 border-gray-400 rounded-full w-8 h-8" />
      </a>

      <img
        width="46"
        height="46"
        src="/github.svg"
        alt="Github Icon"
      />
    </nav> -->
  </header>
  <main class="my-4">
    <p class="text-white">Handcrafted by me © {new Date().getFullYear()}</p>
  </main>
</footer>
