---
import Link from './Link.astro';
---

<header class="flex justify-center text-slate-900 text-lg p-6 shadow-md md:justify-between md:text-xl">
  <span>
    <strong class="hidden md:inline md:text-2xl">
      Kauê.dev
    </strong>
  </span>
  <nav>
    <Link
      href="#about"
      text="About"
      rel="tag"
      aria_label="Read more about me"
    />
    <Link
      href="mailto:kauefragarodrigues456@gmail.com"
      text="Contact"
      rel="author"
      aria_label="Contact me"
    />
    <!-- i may create some other page for projects with cards and sparkles -->
    <Link
      href="#projects"
      text="Projects"
      rel="tag"
      aria_label="See some projects that i made"
    />
  </nav>
</header>
